.footer-social i {
  display: inline-block;
  margin: 0.5rem;
  color: white;
  // This rounded border stuff doesn't look so good
  // border: 2px solid #444;
  // padding: 0.25rem;
  // border-radius: 5px;
}
.footer {
  &-bg {
    color: white;
    background-color: darkslategrey;
  }
}
